.js-theme{
  background-color: black;
  color: white;
}

.js-div{
  justify-items: center;
}
.calculation{
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-align: right;
  padding-right: 10px;
}
.button-result{
  height: 60px;
  width: 300px;
  background-color:rgb(51, 51, 51);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.calculator-button{
  border: none;
  border-radius: 60px;

  cursor: pointer;

  font-size: 25px;

  margin-right: 5px;

  height: 70px;
  width: 70px;
}
.click-num{
  background-color: rgb(51, 51, 51);
  color: white;
  
}
.click-operation{
  background-color: rgb(254, 160, 10);
  color: white;
  
}
.click-clear{
  background-color: rgb(237, 72, 72);
  border: none;
  border-radius: 50px;
  font-size: 40px;
  padding: 10px;
  display: block;
  margin: 20px auto;
}

.js-theme-button{
  height: 35px;
  width: 55px;
  margin-left: 95%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
  
}
.is-toggled {
  background-color: white;
  color: black;
}

